.titulo-camisetas {
  text-align: center;
  font-size: 32px;
  margin: 20px 0;
  font-family: 'fofinha', sans-serif;
}

.camisetas-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
}

.camisetas {
  display: flex;
  transition: transform 0.5s ease;
  padding: 40px 0;
}