.polos-container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
}

.polos {
  display: flex;
  transition: transform 0.5s ease;
  padding: 40px 0;
}

.card {
  min-width: 200px;
  margin: 0 10px;
  background: #fff;
  border-radius: 50px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  padding: 10px;
  flex-shrink: 0;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card img {
  width: 100%;
  max-height: 250px;
 height: auto;
  border-radius: 4px;
}

.card p {
  margin: 5px 0;
  font-family: 'quadradinha', sans-serif;
}

.card button {
  margin-top: 5px;
  padding: 6px 12px;
  background-color: #00a;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 8px;
}

.card button:hover {
  background-color: #005;
}

/* Destaque do card central */
.card.central {
  transform: scale(1.2);
}

.seta {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  font-size: 24px;
  border-radius: 50%;
}

.seta.esquerda {
  left: 10px;
}

.seta.direita {
  right: 10px;
}